---
interface Props {
	title: string;
	body: string;
	dir: string;
}

const { dir, title, body } = Astro.props;
---


<article class="border border-gray-200 rounded-lg w-52 h-80 flex flex-col p-4 items-center text-center md:w-60 md:h-72 shadow-md bg-white">
	<img src={dir} alt={title} class="w-10">
	
	<h2 class="font-bold pt-4">{title}</h2>
	<p>{body}</p>
</div>
</article>


