
---
---
<header class="flex justify-between items-center px-6 py-2 shadow sticky top-0 bg-white">
    <p class="text-[#000064] flex ">VITAL<span class="text-[#e20506]">CLINIC</span></p>
    <nav>
        <ul class="hidden md:flex gap-10">
            <li>Inicio</li>
            <li>Nosotros</li>
            <li>Aliados</li>
            <li>Contáctanos</li>
        </ul>
    </nav>
    <a href="#" class="hidden md:flex md:bg-[#e20506] md:py-2 md:px-3 md:rounded-md">CLIENTE VITAL</a>
    <div class="md:hidden flex shrink-0">
        ----
    </div>
</header>

<!-- <style>
    header {
     transition-property: all;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-duration: 500ms;
    }
</style> -->


